@import 'https://fonts.googleapis.com/css?family=Quicksand:300,400';


.background-image-body {
  // background-image: url("../img/concert.jpg");
  background: -moz-linear-gradient(top,rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url("../img/concert.jpg");
  background: -webkit-linear-gradient(top,rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url("../img/concert.jpg");
  background: -o-linear-gradient(top,rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url("../img/concert.jpg");
  background: -ms-linear-gradient(top,rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url("../img/concert.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #999;
  width: 100%;
  height: 100vh;

  .navbar-default {
    background-color: transparent;
    border-color: transparent;

    .navbar-brand {
      font-family: 'Quicksand', sans-serif;
      color: #fff;
      padding: 15px 30px;
      font-size: 50px;
      line-height: 35px;

    }
  }

  #landing-hero {
    height: 500px;
    padding-top: 10%;
    text-align: center;
    h1 {
      color: #ecf0f1;
      font-size: 50px;
      font-family: 'Quicksand', sans-serif;
      font-weight: bold;
    }
    h3 {
      font-family: 'Quicksand', sans-serif;
      font-weight: 400;
      color: #fff;

    }

    .center-block {
      max-width: 300px;
      padding: 30px;

      button {
        font-size: 34px;
        font-family: 'Quicksand', sans-serif;
        background-color: #1abc9c;
        
      }
    }

    .modal {
      .modal-content {
        border-radius: 20px;

        .modal-body {
          border-radius: 15px;
          background-color: #2c3e50;
          font-family: 'Quicksand', sans-serif;
          .upper-modal {
            height: 300px;
            h1 {
              color: #fff;
              border-bottom: solid 2px #2ecc71;
              padding-bottom: 15px;
              max-width: 580px;
              margin: auto;
            }
            p {
              font-size: 2em;
              color: #fff;

              .phone-number{
                color: #2ecc71;
                font-size: 1.5em;
              }
            }
            ul {
              list-style: none;
              padding: 0;
              span, li {
                font-size: 1.5em;
                color: #fff;
              }
            }
          }
          .my-own-bot {
            color: #2ecc71;
            font-size: 2.5em;
          }
        }
      }
    }

      .cta {
        background: rgba(174,180,180,.5);
        display: inline-flex;
        border-radius: 8px;
        padding: 13px;
      }

      .cta-header {
        font-weight: 300;
        font-size: 20px;
        width: 240px;
        display: inline-block;
        vertical-align: middle;
        color: #fff;
        //  margin-top: 0;
      }

      form {
        .home-submit {
          background-color: #56B68B;
          margin: 10px 10px 10px 0 !important;
          //display: inline-block;
        }
        .btn-primary {
          border-color: #56B68B;
        }
        .sign-up {
            display: flex;
            flex-wrap: wrap;
            padding: 3% 3%; // the top and bottom padding was added to increase the sign-up form outer box height
            // border: solid 1px #2ecc71;
            border-radius: 6px;
            width: 600px;
            margin: auto;
            &.sent {
                button {
                    color: orange;
                    font-weight: 600;
                    background-color: rgba(255, 255, 255, 1);
                    border-radius: 0px;
                    border: none;
                }
            }
            .flex-item {
                margin: 10px;
                flex: 1;
                font-size: 16px;
                width: 260px; // this was added by victor
                border-radius: 6px;
                &:last-child {
                    flex: .5;
                }
            }
            input {
                color: #000;
                height: auto;
                padding: 10px;
            }
          }
        }


  }


  .gradient{
    background: -moz-linear-gradient(top,rgba(0,0,0,0) 0,#000 67%);
    background: -webkit-linear-gradient(top,rgba(0,0,0,0) 0,#000 67%);
    background: -o-linear-gradient(top,rgba(0,0,0,0) 0,#000 67%);
    background: -ms-linear-gradient(top,rgba(0,0,0,0) 0,#000 67%);
    height: 560px;
    width: 100%;
    position: absolute;
    bottom: 0;

  }
}
